include header
h2 Категории

h3 #{categ[0].category}
p #{categ[0].description}
img(src=`images/${categ[0].image}` alt=`${categ[0].description}`)

each val,index in goodsByCateg
    p #{val.name}
    img(src=`images/${val.image}` alt=`${val.description}`)


